<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/template::head}">
</head>
<body>
	<div class="bg-dark text-white" style="min-height: 100vh" id="main">
		<div th:replace="~{fragment/template :: header}"></div>

		<div class="px-5 z-2">
			<!-- recommend -->
			<div id="recommend" class="carousel slide carousel-fade mb-1">
				<div class="carousel-inner">
					<div th:each="item : ${recommend}" class="carousel-item"  th:classappend="${itemStat.first ? 'active' :''}" >
						<img
							th:src="@{https://image.tmdb.org/t/p/original{path}(path=${item.backdropPath})}"
							class="d-block w-100 object-fit-cover rounded-2" height="500">
					</div>
					<div th:remove="all">
						<div class="carousel-item active">
							<img src="..." class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="..." class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="..." class="d-block w-100" alt="...">
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button"
					data-bs-target="#recommend" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button"
					data-bs-target="#recommend" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<!-- popuplated -->
			<div class="populated">
				<div
					class="p-1 fs-4 bg-dark text-white d-flex 
										justify-content-between">
					<span><i class="bi bi-fire"></i> 최신 인기 작품들</span> <a
						th:href="@{/popular}"
						class="link-underline link-underline-opacity-0 link-light"><i
						class="bi bi-three-dots"></i></a>
				</div>
				<div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-1">
					<div th:each="one : ${popular.results}" class="p-1">
						<div class="card " th:if="${oneStat.count <= 6}">
							<img
								th:src="@{https://image.tmdb.org/t/p/w500{path}(path=${one.backdropPath})}"
								class="card-img-top rounded-1" />
							<div class="card-body">
								<div class="card-text text-truncate"
									th:text="|#${oneStat.count}. ${one.title}|"></div>
								<div class="card-text text-secondary text-truncate"
									th:text="${one.originalTitle}"></div>
							</div>
							<a class="stretched-link "
								th:href="@{/movie/{movieId}(movieId=${one.id})}"></a>
						</div>
					</div>
				</div>
			</div>



			<div class="top-rated">
				<div
					class="p-1 fs-4 bg-dark text-white d-flex 
										justify-content-between">
					<span><i class="bi bi-trophy-fill"></i> 꾸준히 사랑받는 작품들</span> <a
						th:href="@{/top-rated}"
						class="link-underline link-underline-opacity-0 link-light"><i
						class="bi bi-three-dots"></i></a>
				</div>
				<div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-1">
					<div th:each="one : ${topRated.results}" class="p-1">
						<div class="card " th:if="${oneStat.count <= 6}">
							<img
								th:src="@{https://image.tmdb.org/t/p/w500{path}(path=${one.backdropPath})}"
								class="card-img-top rounded-1" />
							<div class="card-body">
								<div class="card-text text-truncate"
									th:text="|#${oneStat.count}. ${one.title}|"></div>
								<div class="card-text text-secondary text-truncate"
									th:text="${one.originalTitle}"></div>
							</div>
							<a class="stretched-link "
								th:href="@{/movie/{movieId}(movieId=${one.id})}"></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>